<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="margin: 0px; height: 100%;">
   <head>
      <meta charset="utf-8" />
      <title>Bootflat-Admin Template</title>
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
      <link rel="shortcut icon" href="favicon_16.ico" />
      <link rel="bookmark" href="favicon_16.ico" />
      <!-- site css -->
      <link rel="stylesheet" href="../static/dist/css/site.min.css" th:href="@{/dist/css/site.min.css}" />
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css" />
      <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>
         <script src="../js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
         <script src="../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
      <![endif]-->
      <script type="text/javascript" src="../static/dist/js/site.min.js" th:src="@{/dist/js/site.min.js}"></script>
   </head>
   <body style="margin: 0px; height: 100%;">
      <!--nav-->
      <nav role="navigation" class="navbar navbar-custom">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"> </span>
                  <span class="icon-bar"> </span>
                  <span class="icon-bar"> </span>
               </button>
               <a href="#" class="navbar-brand" th:text="${name}"> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <!--<li class="active"><a href="getting-started.html">Getting Started</a></li>
                     <li class="active"><a href="index.html">Documentation</a></li>-->
                  <!-- <li class="disabled"><a href="#">Link</a></li> -->
                  <li class="dropdown">
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#" th:text="${name}">Silverbux <b class="caret"> </b> </a>
                     <ul role="menu" class="dropdown-menu">
                        <li class="dropdown-header">Setting</li>
                        <li class="divider"></li>
                        <li class="active">
                           <a href="/signOut">Signout</a>
                        </li>
                        <li class="divider"></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>

      <!--header-->
      <div class="container-fluid" style="min-height: 70%;">

         <!--Init: documents-->
         <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
               <ul class="list-group panel">
                  <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>PANEL DE CONTROL</b></li>
                  <li class="list-group-item">
                     <a th:href="@{/index/{name}/{type}(name = ${name}, type = ${type})}" href="index.html"><i class="glyphicon glyphicon-home"></i>Dashboard </a>
                  </li>
                  <li class="list-group-item">
                     <a th:href="@{/reservados/{name}/{type}(name = ${name}, type = ${type})}" href="reservados.html"><i class="glyphicon glyphicon-certificate"></i>Reservados </a>
                  </li>
                  <li class="list-group-item">
                     <a th:href="@{/vendidos/{name}/{type}(name = ${name}, type = ${type})}" href="vendidos.html"><i class="glyphicon glyphicon-th-list"></i>Vendidos </a>
                  </li>
                  <li class="list-group-item active">
                     <a th:href="@{/disponibles/{name}/{type}(name = ${name}, type = ${type})}" href="disponibles.html"><i class="glyphicon glyphicon-list-alt"></i>Disponibles</a>
                  </li>
                  <!--<li class="list-group-item"><a th:href="@{/colors}" href="colors.html" ><i class="glyphicon glyphicon-tint"></i>Colors</a></li>-->
               </ul>
            </div>
            <div class="col-xs-12 col-sm-9 content">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <a href="javascript:void(0);" class="toggle-sidebar">
                           <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"> </span>
                        </a>
                        Información
                     </h3>
                  </div>

                  <div class="panel-body">
                     <div class="content-row">
                        <h2 class="content-row-title">Lotes Disponibles</h2>
                        <div class="row">
                           <table>
                              <tr th:each="availableLot : ${availableLots}">
                                 <a href="#" data-toggle="modal" th:attr="data-target='#customerModel'+${availableLot.location}"/>
                                 <div class="col-md-2">
                                    <div class="color-swatches">
                                       <div class="swatches">
                                          <div class="clearfix">
                                             <div style="background-color: #5d9cec;" class="pull-left light"></div>
                                             <div style="background-color: #4a89dc;" class="pull-right dark"></div>
                                          </div>
                                          <div class="infos">
                                             <h4 th:text="${availableLot.amount}"></h4>
                                             <p th:text="${availableLot.measure}"></p>
                                             <p th:text="${availableLot.location}"></p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <!--Init: ModalTest-->
						         <div class="modal fade" th:id="${'customerModel'+{availableLot.location}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						            <div class="modal-dialog" role="document">
						               <div class="modal-content">
						                  <div class="modal-header text-center">
						                     <div id="myTab1" class="nav nav-tabs nav-justified" style="padding: 20px">
							                     <div class="col-md-6 active">
							                     	<a href="#" th:attr="href='#Detalles'+${availableLot.location}" data-toggle="tab"><h4 class="modal-title w-100 font-weight-bold">Detalles</h4></a>
							                     </div>
							                     <div class="col-md-6">
							                     	<a href="#" th:attr="href='#Reservar'+${availableLot.location}" data-toggle="tab"><h4 class="modal-title w-100 font-weight-bold">Reservar</h4></a>
							                     </div>
						                     </div> 
						                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                        <span aria-hidden="true">&times;</span>
						                     </button>
						                  </div>
						                  <div id="myTabContent" class="tab-content modal-body">
						                     <div class="tab-pane fade active in" th:id="${'Detalles'+{availableLot.location}}">
							                        <div class="modal-body mx-4">
							                           <div class="row">
							                           		<ul class="list-group center" style="text-align: center; -webkit-text-stroke: medium;">
																  <li class="list-group-item" th:text="'Localización:  ' + ${availableLot.location}"></li>
																  <li class="list-group-item" th:text="'Medida:  ' + ${availableLot.measure}">Dapibus ac facilisis in</li>
																  <li class="list-group-item" th:text="'Precio:  ' + ${availableLot.amount}">Morbi leo risus</li>
							                    			</ul>
													    </div>
							                        </div>
						                     </div>
						                     <div class="tab-pane fade" th:id="${'Reservar'+{availableLot.location}}">
						                        <form class="modal-body mx-4" role="form" action="/reserveLot" method="post">
						                           <div class="modal-body mx-4">
						                              <div class="row">
						                                 <div class="col-xs-11">
						                                    <input type="text" name="nameClient" class="form-control validate" placeholder="Nombres y apellidos" style="margin: 15px;" />
						                                 </div>
						                                 <div class="col-xs-11">
						                                    <input type="email" name="mailClient" class="form-control validate" placeholder="Coreo electrónico" style="margin: 15px;" />
						                                 </div>
						                                 <div class="col-xs-11">
						                                    <input type="text" name="operation" class="form-control validate" placeholder="Número de operación" style="margin: 15px;" />
						                                 </div>
						                                 <div class="col-xs-11">
						                                    <input type="date" name="date" class="form-control validate" placeholder="Fecha" style="margin: 15px;" />
						                                 </div>
						                              </div>
						                              <div class="modal-footer d-flex justify-content-center">
						                                 <button class="btn btn-deep-orange">Reservar</button>
						                              </div>
						                           </div>
						                        </form>
						                     </div>
						                     
						                  </div>
						                  
						               </div>
						            </div>
						         </div>
						         <!--End: ModalTes-->
                                 
                              </tr>
                           </table>
                        </div>
                     </div>

                     <div class="content-row">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <div class="panel-title">
                                 <b>Registro de nuevo lote</b>
                              </div>
                              <div class="panel-options">
                                 <a class="bg" data-target="#sample-modal-dialog-1" data-toggle="modal" href="#sample-modal">
                                    <i class="entypo-cog"></i>
                                 </a>
                                 <a data-rel="collapse" href="#">
                                    <i class="entypo-down-open"></i>
                                 </a>
                                 <a data-rel="close" href="#!/tasks" ui-sref="Tasks">
                                    <i class="entypo-cancel"></i>
                                 </a>
                              </div>
                           </div>
                        </div>

                        <div class="panel-body">
                           <form novalidate="" role="form" class="form-horizontal">
                              <div class="form-group">
                                 <label class="col-md-2 control-label">Precio del lote</label>
                                 <div class="col-md-10">
                                    <input type="text" required="" placeholder="Ingrese el precio de venta" id="price" class="form-control" name="price" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-2 control-label">Localización</label>
                                 <div class="col-md-10">
                                    <input type="text" required="" placeholder="Ingrese la localización del lote" id="localization" class="form-control" name="localization" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-2 control-label">Fecha</label>
                                 <div class="col-md-10">
                                    <input type="date" required="" placeholder="Ingrese la fecha de adquisición" id="date" class="form-control" name="date" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-md-2 control-label">Observaciones</label>
                                 <div class="col-md-10">
                                    <input type="text" required="" placeholder="Ingrese algún dato adicional acerca del lote" id="date" class="form-control" name="observations" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" type="submit">Registrar</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- panel body -->
               </div>
            </div>
            <!-- content -->
         </div>
         <!--End: documents-->
      </div>
      <!--footer-->
      <div class="site-footer">
	      <div class="container">
	        <div class="copyright clearfix text-center">
	          <p><b></b></p>
	        </div>
	      </div>
	  </div>
   </body>
</html>
